// Tabula rasa
@import "../../bower_components/tink-core/dist/tink/variables";
@import "../../bower_components/tink-core/dist/tink/functions";
@import "../../bower_components/tink-core/dist/tink/mixins";

.fieldset-editable {
  background-color: #f8f8f8;
  padding: rem(15);

  /**
   * Default styling
   */
  input,
  .faux-input,
  select,
  textarea {
    transition: all ($animation-speed * 2) !important;

    &:focus {
      background-color: $white !important;
      border: 1px solid $input-border-focus !important;
      // cursor: default !important;
    }

    &[disabled] {
      background: transparent !important;
      border: 1px solid transparent !important;
      cursor: default !important;

      // To do: add timepicker shadow dom :-/
      &::-webkit-inner-spin-button,
      ~ .timepicker-later,
      ~ .timepicker-earlier {
        display: none !important;
      }
    }
  }

  input {
    &::-webkit-inner-spin-button {
      transition: border ($animation-speed * 2) !important;
    }
  }

  .datepicker-icon {
    transition: color ($animation-speed * 2) !important;
  }



  /**
   * OFF state
   */
  &.mouseOff {
    input,
    .faux-input,
    select,
    textarea {
      background-color: rgba($white, 0);
      border-color: lighten($input-border, 16%);

      @include placeholder(transparent);

      .placeholder {
        color: transparent;
      }
    }

    input {
      &::-webkit-inner-spin-button {
        border-color: lighten($input-border, 16%) !important;
      }
    }

    input[type="checkbox"],
    input[type="radio"] {
      + label {
        &:before {
          border-color: lighten($input-border, 16%) !important;
        }
      }
    }

    .datepicker-icon {
      color: lighten($datepicker-icon-color, 32%);
    }
  }



  /**
   * HOVER state
   */
  &.mouseOver {
    input,
    .faux-input,
    select,
    textarea {
      background-color: rgba($white, .5);
      border-color: lighten($input-border, 16%);

      &:hover {
        background-color: $white;
        border-color: lighten($input-border, 8%);
      }

      @include placeholder(transparent);

      .placeholder {
        color: transparent;
      }
    }

    input[type="checkbox"],
    input[type="radio"] {
      + label {
        &:hover {
          &:before {
            border-color: lighten($input-border, 8%) !important;
          }
        }
        &:before {
          border-color: lighten($input-border, 16%) !important;
        }
      }
    }

    input {
      &::-webkit-inner-spin-button {
        border-left-color: lighten($input-border, 16%) !important;
      }

      &:hover {
        &::-webkit-inner-spin-button {
          border-left-color: lighten($input-border, 8%) !important;
        }
      }
    }

    .datepicker-input-fields {
      &:hover {
        .datepicker-icon {
          color: lighten($datepicker-icon-color, 16%);
        }
      }
    }

    .datepicker-icon {
      color: lighten($datepicker-icon-color, 24%);
    }
  }

  /**
   * UNEDITABLE state
   */
  &.uneditable {
  }
}
