// Tabula rasa
@import "../../bower_components/tink-core/dist/tink/variables";
@import "../../bower_components/tink-core/dist/tink/functions";
@import "../../bower_components/tink-core/dist/tink/mixins";

.fieldset-editable {
  background-color: #f2f2f2;
  padding: rem(15 15 65);
  transition: background-color $animation-speed linear;

  /**
   * Default styling
   */
  input,
  .faux-input,
  select,
  textarea {
    transition: all ($animation-speed * 2) !important;

    &:focus {
      background-color: $white !important;
      border: 1px solid $input-border-focus !important;
      // cursor: default !important;
    }

    &[disabled] {
      background: transparent !important;
      border: 1px solid transparent !important;
      cursor: default !important;

      // To do: add timepicker shadow dom :-/
      &::-webkit-inner-spin-button,
      ~ .timepicker-later,
      ~ .timepicker-earlier {
        display: none !important;
      }
    }
  }

  input {
    &::-webkit-inner-spin-button,
    ~ .timepicker-later,
    ~ .timepicker-earlier {
      transition: border ($animation-speed * 2) !important;
    }
  }

  .datepicker-icon {
    transition: color ($animation-speed * 2) !important;
  }



  /**
   * OFF state
   */
  &.mouseOff {
    background-color: transparent;

    input,
    .faux-input,
    select,
    textarea {
      background-color: rgba($white, 0);
      border-color: lighten($input-border, 16%);

      @include placeholder(transparent);

      .placeholder {
        color: transparent;
      }
    }

    input {
      &::-webkit-inner-spin-button,
      ~ .timepicker-later,
      ~ .timepicker-earlier {
        border-color: lighten($input-border, 16%) !important;
      }
    }

    input[type="checkbox"],
    input[type="radio"] {
      + label {
        &:before {
          border-color: lighten($input-border, 16%) !important;
        }
      }
    }

    .datepicker-icon {
      color: lighten($datepicker-icon-color, 32%);
    }

    .fieldset-editable-buttons {
      transform: translate(0, rem(70));
    }
  }



  /**
   * HOVER state
   */
  &.mouseOver {
    background-color: transparent;

    input,
    .faux-input,
    select,
    textarea {
      background-color: rgba($white, .5);
      border-color: lighten($input-border, 16%);

      &:hover {
        background-color: $white;
        border-color: lighten($input-border, 8%);
      }

      @include placeholder(transparent);

      .placeholder {
        color: transparent;
      }
    }

    input[type="checkbox"],
    input[type="radio"] {
      + label {
        &:hover {
          &:before {
            border-color: lighten($input-border, 8%) !important;
          }
        }
        &:before {
          border-color: lighten($input-border, 16%) !important;
        }
      }
    }

    input {
      &::-webkit-inner-spin-button,
      ~ .timepicker-later,
      ~ .timepicker-earlier {
        border-left-color: lighten($input-border, 16%) !important;
      }

      &:hover {
        &::-webkit-inner-spin-button,
        ~ .timepicker-later,
        ~ .timepicker-earlier {
          border-left-color: lighten($input-border, 8%) !important;
        }
      }
    }

    .datepicker-input-fields {
      &:hover {
        .faux-input {
          background-color: $white;
          border-color: lighten($input-border, 8%);
        }

        .datepicker-icon {
          color: lighten($datepicker-icon-color, 16%);
        }
      }
    }

    .datepicker-icon {
      color: lighten($datepicker-icon-color, 24%);
    }

    .fieldset-editable-buttons {
      transform: translate(0, rem(70));
    }
  }

  /**
   * UNEDITABLE state
   */
  &.uneditable {
    background-color: transparent;

    .datepicker-icon {
      display: none;
    }

    .fieldset-editable-buttons {
      transform: translate(0, rem(70));
    }
  }

  &-buttons {
    background: rgba($white, .85);
    border-top: 1px solid $gray-lighter;
    bottom: 0;
    left: 0;
    padding: rem(15);
    position: fixed;
    right: 0;
    transform: translate(0, 0);
    transition: transform $animation-speed linear;
    z-index: layer("nav-top");
  }
}
