// Tabula rasa
@import "../../bower_components/tink-core/dist/tink/variables";
@import "../../bower_components/tink-core/dist/tink/functions";
@import "../../bower_components/tink-core/dist/tink/mixins";

.fieldset-editable {
  background-color: #f8f8f8;
  padding: rem(15);

  /**
   * Default styling
   */
  input,
  .faux-input,
  select,
  textarea {
    transition: all .2s linear !important;

    &:focus {
      background-color: $white !important;
      border: 1px solid $input-border-focus;
      // cursor: default !important;
    }

    &[disabled] {
      background-color: transparent !important;
      border: 1px solid transparent !important;
      cursor: default !important;
    }
  }


  /**
   * OFF state
   */
  &.mouseOff {
    input,
    .faux-input,
    select,
    textarea {
      background-color: rgba($white, 0);
      border-color: lighten($input-border, 16%);

      // &::-webkit-inner-spin-button {
      //   display: none !important;
      // }

      @include placeholder(transparent);

      .placeholder {
        color: transparent;
      }
    }
  }

  /**
   * HOVER state
   */
  &.mouseOver {
    input,
    .faux-input,
    select,
    textarea {
      background-color: rgba($white, .5);
      border-color: lighten($input-border, 16%);

      &:hover {
        background-color: $white;
        border-color: lighten($input-border, 8%);
      }

      // &::-webkit-inner-spin-button {
      //   display: none !important;
      // }

      @include placeholder(transparent);

      .placeholder {
        color: transparent;
      }
    }
  }

  /**
   * ACTIVE state
   */
  &.mouseOver {
  }

  // &.mouseOver {
  //   input,
  //   .faux-input,
  //   select,
  //   textarea {
  //     border: 1px solid lighten($input-border, 20%);

  //     &:hover {
  //       border: 1px solid $input-border;
  //     }
  //   }
  // }

  // &-off {
  //   input,
  //   .faux-input,
  //   select,
  //   textarea {
  //     background: transparent !important;
  //     border: 1px solid transparent !important;
  //     cursor: default !important;

  //     .mouseOver {
  //     }
  //   }
  // }
}


// .the-fieldset {

// form input[type=text]
// {
//   border:1px solid transparent;
// }

// .mouseOver{

//   input[type=text]
//   {
//     border:1px solid #bbb !important;
//   }
// }
//   .stick {
//     background-color: rgba($white, .9);
//     overflow: hidden;
//     transition: box-shadow $animation-speed;

//     h2.h3 {
//       margin: rem(14 0);
//     }
//     &.is-sticky {
//       box-shadow: 0 0 3px rgba($black, .5);
//       z-index: 100 !important;
//     }
//   }

//   .fieldset-editable-buttons {
//     // visibility: hidden;
//     transition: transform $animation-speed;
//     transform: translate(0,-100%);

//     padding: rem(4 0);

//     .btn-transparent {
//       background-color: transparent;
//       border: none;
//       color: $brand;
//       font-weight: normal;

//       &:hover {
//         background-color: rgba($black, .1);
//       }
//     }
//   }
// }

// .fieldset-editable {
//   border-radius: $border-radius-base;
//   margin: rem(8 0);
//   padding: rem(15);
//   transition: all $animation-speed linear;

//   label {
//     color: $gray;
//     font-weight: normal;
//     line-height: $line-height-base;
//     margin: 1px 0 0; // Corrects border of input field
//     padding: rem($padding-base-vertical $padding-base-horizontal 0 0);
//   }

//   input[type="checkbox"],
//   input[type="radio"] {
//     + label {
//       color: $text-color;
//       margin-left: rem(5);
//     }
//   }

//   .anchor-add {
//     left: rem(12);
//     position: absolute;
//     top: 0;
//     // top: rem(2);
//   }

//   .add-icon {
//     color: $link-color;
//     display: none;
//     position: absolute;
//     left: rem(26);
//     top: rem(7);
//     z-index: 1;
//   }

//   // .anchor-add {
//   //   margin: 1px;
//   //   padding: rem($padding-base-vertical $padding-base-horizontal);
//   //   position: absolute;
//   // }

//   // .input-add {
//   //   display: none;
//   // }

//   /**
//    * States
//    */



//   // Normal state
//   input,
//   .faux-input,
//   select,
//   textarea {
//     background-color: transparent;
//     border: 1px solid transparent;

//     &[disabled] {
//       background-color: transparent;
//       cursor: not-allowed;
//     }

//     // &[value=''] {
//     &:invalid {
//       ~ .add-icon {
//         display: block;
//       }
//     }
//   }

//   // Hovered state
//   &-is-hovered {
//     input,
//     .faux-input,
//     select,
//     textarea {
//       border: 1px solid rgba($input-border, .40);

//       &[disabled] {
//         background-color: transparent;
//         border: 1px solid transparent;
//         cursor: default;
//       }

//       &:invalid {
//         border: 1px solid rgba($input-border, .40) !important;
//       }

//       &:hover {
//         border: 1px solid $input-border;

//         &[disabled] {
//           border: 1px solid transparent;
//         }
//       }
//     }
//   }

//   // Active state
//   &-is-active {
//     background-color: $gray-lighter;

//     .add-icon {
//       display: none !important;
//     }

//     hr {
//       border-top-color: $gray-light;
//     }

//     input,
//     .faux-input,
//     select,
//     textarea {
//       background-color: $white;
//       border: 1px solid $input-border;

//       &:focus {
//         border: 1px solid $input-border-focus;
//       }

//       &[disabled] {
//         border: 1px solid transparent;
//       }
//     }

//     legend,
//     .legend {
//       border-bottom-color: $gray-light;
//     }

//     .fieldset-editable-buttons {
//       // visibility: visible;
//       transform: translate(0,0);
//     }
//   }

//   // &:not(.fieldset-editable-is-hovered),
//   // &:not(.fieldset-editable-is-active) {
//   //   textarea {
//   //     resize: none;
//   //   }
//   // }
// }

// .legend {
//   border-bottom: 1px solid $legend-border-color;
//   color: $legend-color;
//   font-size: rem($font-size-base * 1.5);
//   line-height: inherit;
//   margin: rem(32 0 $line-height-computed);
// }
