<!doctype html>
<html ng-app="tinkApp">
<head>
	<meta charset="utf-8">
	<title>Tink module</title>
	<meta name="description" content="">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="initial-scale=1.0,user-scalable=no,minimum-scale=1.0">
  <link rel="stylesheet" href="styles/tink-fieldset.css">
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/tink-core/dist/tink.css" />
	<!-- endbower -->
</head>
<body>
{{valuesChanged}}
<div class="container" ng-controller="controllero as c1">
{{c1}}
      <button ng-click="c1.show()">To Show the data</button>

    <div class="row">
      <div  class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
        <form id="form" class="fieldset-editable uneditable" tink-fieldset values-changed="c1.haschanged">
          <!-- <div data-data="form1" data-ng-init="form1={rijksregisternr:undefined}"> -->
            <fieldset>
              <legend>Algemeen</legend>


              <div class="row form-group">
                <div class="col-xs-4">
                  <label for="field1">Type</label>
                </div>
                <div class="col-xs-8">
                  <input ng-model="c1.field1" type="text" name="field1" id="field1" disabled required>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-xs-4">
                  <label for="field2">Instelling</label>
                </div>
                <div class="col-xs-8">
                  <div class="select">
                    <select ng-model="c1.field2" name="field2" id="field2">
                      <option selected="" checked value="Christelijke Mutualiteit">Christelijke Mutualiteit</option>
                      <option value="Socialistische Mutualiteit">Socialistische Mutualiteit</option>
                      <option value="Liberale Mutualiteit">Liberale Mutualiteit</option>
                      <option value="Onafhankelijk Ziekenfonds">Onafhankelijk Ziekenfonds</option>
                      <option value="Neutraal Ziekenfonds">Neutraal Ziekenfonds</option>
                      <option value="Andere">Andere</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-xs-4">
                  <label for="field14">Paspoortnr.</label>
                </div>
                <div class="col-xs-8">
                <tink-identity-number  data-ng-model="c1.field3"></tink-identity-number>
                  <!-- <input type="text" name="field14" id="field14" value="03/303.33.03" required> -->
                </div>
              </div>

              <div class="row form-group">
                <div class="col-xs-4">
                  <label for="field3">Adres</label>
                </div>
                <div class="col-xs-8">
                  <input type="text"  ng-model="c1.field4" name="field3" id="field3" required>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-xs-8 col-xs-push-4">
                  <input type="text" ng-model="c1.field5" name="field4" id="field4"  required>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-xs-4">
                  <label for="field5">Telefoonnr.</label>
                </div>
                <div class="col-xs-8">
                  <input type="number" name="field5" ng-model="c1.field6" id="field5">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-xs-4">
                  <label for="field5">timepicker.</label>
                </div>
                <div class="col-xs-8">
                  <tink-timepicker data-ng-model="selectedTime" disabled></tink-timepicker>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-xs-4">
                  <label for="field5">datepicker.</label>
                </div>
                <div class="col-xs-8">
                  <data-tink-datepicker data-ng-model="form2.datumaansluiting"></data-tink-datepicker>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-xs-4">
                  <label for="field5">datepickerrange.</label>
                </div>
                <div class="col-xs-8">
                  <tink-datepicker-range data-first-date="firstSelectedDate" data-last-date="lastSelectedDate"></tink-datepicker-range>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-xs-4">
                  <label for="field5">indenty.</label>
                </div>
                <div class="col-xs-8">
                  <tink-identity-number  data-ng-model="c1.field3"></tink-identity-number>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-xs-4">
                  <label for="field5">cardnumber.</label>
                </div>
                <div class="col-xs-8">
                  <tink-national-number required="required" name="nationalNoField" data-ng-model="nationalNoModel"></tink-national-number>
                </div>
              </div>


              <div class="row form-group">
                <div class="col-xs-4">
                  <label for="field6">Opmerking</label>
                </div>
                <div class="col-xs-8">
                  <textarea name="field6" id="field6" rows="4" required></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-xs-4">
                  <label for="field7">Betaalwijze</label>
                </div>
                <div class="col-xs-8">
                  <div class="select">
                    <select ng-model="c2.valuesselect" name="field7" id="field7">
                      <option value="Cash">Cash</option>
                      <option value="Bancontact">Bancontact</option>
                      <option value="Maestro">Maestro</option>
                      <option value="VISA">VISA</option>
                      <option value="Paypal">Paypal</option>
                      <option value="Andere">Andere</option>
                    </select>
                  </div>
                </div>
              </div>

              <!-- <hr> -->

              <h2 class="legend">Personalia</h2>

              <div class="row form-group">
                <div class="col-xs-4">
                  <label for="field8">Lidnummer</label>
                </div>
                <div class="col-xs-8">
                  <input type="text" name="field8" id="field8" value="" required>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-xs-4">
                  <label for="field9">Datum aansluiting</label>
                </div>
                <div class="col-xs-4">
                  <div class="hover-helper">
                    <data-tink-datepicker data-ng-model="form2.datumaansluiting"></data-tink-datepicker>
                  </div>
                  <!-- <input type="text" name="field9" id="field9" value="" required> -->
                </div>
              </div>

              <div class="row form-group">
                <div class="col-xs-4">
                  <label for="field10">Soort aansluiting</label>
                </div>
                <div class="col-xs-8">
                  <input type="text" name="field10" id="field10" value="" required>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-xs-4">
                  <label for="field11">Toestand</label>
                </div>
                <div class="col-xs-8">
                  <div class="radio">
                    <input type="radio" id="radio1" name="radio" value="In orde">
                    <label for="radio1">In orde</label>
                  </div>
                  <div class="radio">
                    <input type="radio" id="radio2" name="radio" value="Niet in orde">
                    <label for="radio2">Niet in orde</label>
                  </div>
                  <div class="radio">
                    <input type="radio" id="radio3" name="radio" value="Niet geweten" checked>
                    <label for="radio3">Niet geweten</label>
                  </div>
                  <!--
                    For radio buttons it is very important to add a hidden input field
                    with an id that is equal to the radio button's name
                  -->
                  <input type="hidden" id="radio" name="radio-hidden" value="">
                  <!-- <div class="select">
                    <select name="field11" id="field11">
                      <option value="In orde">In orde</option>
                      <option value="Niet in orde">Niet in orde</option>
                      <option value="Niet geweten">Niet geweten</option>
                    </select>
                  </div> -->
                </div>
              </div>

              <div class="row form-group">
                <div class="col-xs-4">
                  <label for="field12">Bijdrage</label>
                </div>
                <div class="col-xs-8">
                  <input type="text" name="field12" id="field12" value="" required>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-xs-4">
                  <label for="field13">Recht op regeling</label>
                </div>
                <div class="col-xs-8">
                  <div class="checkbox">
                    <input type="checkbox" id="checkbox1" name="checkbox1" value="yes" checked>
                    <label for="checkbox1">Option one</label>
                  </div>
                </div>
              </div>


              <!-- <hr>
              <div class="row form-group">
                <div class="col-xs-4">
                  <label for="dateofdeath">Datum overlijden</label>
                </div>
                <div class="col-xs-8">
                  <div class="anchor-add">
                    <a href="" title="Datum overlijden toevoegen">+ toevoegen</a>
                  </div>
                  <div class="input-add">
                    <input type="text" name="dateofdeath" id="dateofdeath" value="">
                  </div>
                </div>
              </div> -->
            </fieldset>

            <!-- <div class="fieldset-editable-buttons">
              <hr>
              <div class="row">
                <div class="col-xs-12">
                  <button type="submit" class="btn-primary btn-submit" type="submit" disabled>Wijzigingen opslaan</button>
                  <a href="" class="btn btn-transparent btn-cancel">Annuleren</a>
                </div>
              </div>
            </div> -->
          <!-- </div> -->
        </form>
      </div>
    </div>
  </div>

	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-touch/angular-touch.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/tink-helper-date-angular/dist/tink-helper-date-angular.js"></script>
	<script src="bower_components/tink-helper-safe-apply-angular/dist/tink-helper-safe-apply-angular.js"></script>
	<script src="bower_components/tink-helper-format-angular/dist/tink-helper-format-angular.js"></script>
	<script src="bower_components/tink-datepicker-angular/dist/tink-datepicker-angular.js"></script>
	<script src="bower_components/tink-identity-card-number-angular/dist/tink-identity-card-number-angular.js"></script>
	<script src="bower_components/tink-range-datepicker-angular/dist/tink-range-datepicker-angular.js"></script>
	<script src="bower_components/angular-messages/angular-messages.js"></script>
	<script src="bower_components/tink-national-number-angular/dist/tink-national-number-angular.js"></script>
	<script src="bower_components/tink-timepicker-angular/dist/tink-timepicker-angular.js"></script>
	<script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
	<script src="bower_components/ng-lodash/build/ng-lodash.js"></script>
	<script src="bower_components/tink-upload-angular/dist/tink-upload-angular.js"></script>
	<!-- endbower -->


<script src="scripts/app.js"></script>
<script src="scripts/directives/tink-editable-fieldset.js"></script>
</body>
</html>
